[Desktop Entry]
Name=sync
Comment=Macchina Virtuale
Exec=ln-vm --path %k --sync auto
Type=Application
Categories=GTK;GNOME;Utility;
Terminal=false
Icon=/usr/share/icons/vm-op.png
